<cm-searching *ngIf="!users" class="text-center" [maxIndex]="5"> </cm-searching>
<div *ngIf="users && users.length" class="table-responsive text-center" style="margin: 10px;">
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th> # </th>
                <th> Name </th>
                <th> Gender </th>
                <th class="text-right"> 
                    <cm-user-save (userSaved)="addUser($event)">
                        <button type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-plus"> </i>
                        </button>
                    </cm-user-save>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let user of users; let i = index'>
                <td>
                    <span class="text-muted initialism"> {{ i + 1 }} </span>
                </td>
                <td>
                    <span> {{ user.first_name }} {{ user.last_name }} </span>
                </td>
                <td>
                    <span> {{ user.gender }} </span>
                </td>
                <td class="text-right">
                    <cm-user-save [user]="user" (userSaved)="updateUser($event)">
                        <button type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-user"> </i>
                        </button>
                    </cm-user-save>
                </td>
            </tr>
        </tbody>
        <tfoot class="text-right">
            <td colspan="4">
                <ul class="pagination">
                    <li [class.disabled]="pagination.current_page === 1"><a>Previous</a></li>
                    <li *ngFor="let page of getArray(pagination.max_page)" (click)="changePage(page)"><a> {{ page }} </a></li>
                    <li [class.disabled]="pagination.current_page === pagination.max_page"><a>Next</a></li>
                </ul>
            </td>
        </tfoot>
    </table>
</div>
<cm-no-results-found *ngIf="users && !users.length"> </cm-no-results-found>