<div class="table-responsive text-center">
    <table class="table table-condensed table-striped">
        <tr>
            <th> # </th>
            <th> Title </th>
            <th> Begins on: </th>
            <th> Ends on: </th>
            <th> Occupancy </th>
            <th> Actions </th>
        </tr>
        <tr *ngFor='let course of courses; let i = index'>
            <td>
                <span class="text-muted initialism"> {{ i + 1 }} </span>
            </td>
            <td>
                <span> {{ course.title }} </span>
            </td>
            <td> 
                <span class="text-muted initialism"> {{ (course.begin | millisecondsDate) | date: 'short' }} </span>
            </td>
            <td>
                <span class="text-muted initialism"> {{ (course.end | millisecondsDate) | date: 'short' }} </span> 
            </td>
            <td>
                <cm-progress-bar *ngIf="course.candidates.length" [currentValue]="course.candidates.length" [maxValue]="course.candidate_limit"></cm-progress-bar>
                <span *ngIf="!course.candidates.length" class="text-info"> No candidates </span>
            </td>
            <td>
                <!--TODO: join now?-->
            </td>
        </tr>
    </table>
</div>