.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {height: 450px}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.course-thumbnail {
    background: rgba(0,0,0,0.2);
    min-height: 170px;
    margin: 10px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    /*background: #2b3e50;*/
}

footer {
    background-color: #2b3e50;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}

.typeahead-input,
.typeahead-typeahead{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

a {
    cursor: pointer;
}